 body{
    font-size: 30px;
 }
 body{
    background-color: white
 }
 header{ 
      display: flex;
      align-items: center;
         background: linear-gradient(to bottom, #111, #201010);
        color: gold;
        padding: 40px;
        text-align: center;
        justify-content: center;
    }
    footer{
        background-color:  #201010;
        padding: 20px;
        color: gold;
       text-align: center;}
    .sm{
      color: white;
      text-decoration: none; 
    }
    .card{
        background:wheat;
        padding: 20px;
        margin: 10px;
        border-left: solid;
    }
main h1{
    font-family: 'Playfair Display', serif;;
}
.mypics{
    height: 70px;
}